.year-setion{
    
    
    color:#96BC4E
}

ul{
    color: #e1574d;
   font-weight: 500;
}
ul li{
    color:black;
    padding: 0px;
    margin-top: 0px;
}
 p{
    font-size: 12px;
    /* margin-left: 40px; */
    margin-top: 10px;
    
  
  
  }

li{
    font-size: 12px;
}