@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

.temp-13-right-main-div{
    width: 100%;
    height:150vh;

     box-shadow: 1px 2px 6px 3px;
     position:absolute;
     font-family: 'Montserrat', sans-serif;

}
.temp-13-right-inner-div{
    width: 96%;
    height:145vh;
    margin: 2%;
    /* border: 1px solid red; */
    position: relative;
}
.temp-13-right-inner-right-div{

  height:100%;
  width:300px;
  position:absolute;
  right: 0;
  top: 0;
  background-color: #00b894;

}
.temp-13-right-img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin-left: 50px;
    
}

.temp-13-right-img img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin-top: 20px;
    
}

.temp-13-right-profile-information{
    height: 50px;
    width: 100%;
    text-align:center;
    margin-top: 30px;
}
.temp-13-right-profile-information h3{
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.temp-13-right-profile-information h5{
    font-size: 30px;
    font-weight: 500;
}

.temp-13-user-information{
    margin-top: 50px;
    /* border: 1px solid red; */
}

.temp-13-user-information .user-information{
    margin-top: 50px;
}
.temp-13-user-information .user-information h3{
   color: aqua;
   margin-left: 20px;
}

.temp-13-right-inner-left-div{
   /* border: 1px solid rebeccapurple; */
   height: 145vh;
   width: 60%;
   display: inline-block;

}
.temp-13-right-left-user-information{
    height: 100%;
    width: 90%;
    margin-left: 5%;
    /* border:1px solid red */

}
.temp-13-right-left-user-information .user-information {
    height: 250px;
    width: 100%;
}
.temp-13-right-left-user-information .user-information  h3{
    color:#00b894
   
}